html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css')
        link(rel="stylesheet", href="public/css/style.css")
        title Practica 1
    body
        div(class="login")
            div(class="login-header")
                h1 Registro
            div(class="login-form")
                h3 Usuario:
                input(type="text" placeholder="Username")
                br
                h3 Password:
                input(type="password" placeholder="Password")
                input(type="button" value="Login" class="login-button")
                br
                a(class="sign-up") Sign Up!
  